# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:root@localhost:3306/zipfeast"
PORT=3000
HOST="http://localhost"
NODE_ENV="production"
ACCESS_TOKEN_SECRET="6d05e3e1c97531cce524b741ba265a41ab42980fcc827de13859d9e9c677a70d115f696c73f0a74af1549019d8e8d32afcf5d44a8af20af9be2a6483225ff948"
ACCESS_TOKEN_LIFE="1h"
REFRESH_TOKEN_SECRET="asbajbdasjbcjabsbasjabb23kjbdkbaskbd"
UPLOAD_DIR="uploads"
MY_AWS_REGION=your-region
MY_AWS_ACCESS_KEY=your-access-key
MY_AWS_SECRET_KEY=your-secret-key
MY_AWS_BUCKET_NAME=your-bucket-name